.intro {
    text-align: center ;
    margin-bottom: 40px;
}

.questionBlock {
    width: 100%;
    
    &:not(:last-child) {
        margin-bottom: 40px;
    }
   

    & > p {
        margin-bottom: 8px;
    }

    & > textarea {
        width: 100%;
        height: 165px;
    }
}

