@import "/styles/variables.scss";
@import "/styles/mixin.scss";

.section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentSection {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: 500;
    color: $green-deep;
    text-align: center;

    @include mobile {
        margin-top: 24px;
        font-size: 24px;
    }
}
