@import "/styles/variables.scss";
@import "/styles/mixin.scss";

.card {
  width: 100%;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  transition: 0.3s;

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.08);
  }

  @include mobile {
    width: 100%;
    max-width: 420px;
  }
}

.cardInfo {
  padding: 24px;
  background-color: white;
}

.cardImg {
  position: relative;
  width: 100%;
  @include imageWrapper(60.8%);

  .commaIconWrapper {
    position: absolute;
    left: 15px;
    bottom: -14px;
  }
}

.sharingWords {
  margin: 0;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}

.sharer,
.sharerTitle {
  font-size: 12px;
  line-height: 1.6;
  margin: 0;
}

.sharer {
  font-weight: 500;
}

.sharerTitle {
  font-weight: 400;
}

.cta {
  margin-top: 40px;
  display: flex;
  align-items: center;
  font-size: 16px;
  color: $green-tree;
  cursor: pointer;

  >span {
    margin-right: 8px;
  }
}