@import "/styles/variables.scss";

.careerCard {
    height: 580px;
}

.header {
    height: 75px;
    margin-bottom: 16px;
}

.cardInfo {
    height: 360px;
}

.jobInfo {
    display: flex;
    align-items: flex-end;
    color: $gray;
    margin-bottom: 16px;

    & > p {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.mentorInfo {
    color: $gray;

    & > p {
        margin-top: 0;
        margin-bottom: 0;
    }

    & > p:first-child {
        margin-bottom: 16px;
    }
}

.cardTitle {
    font-size: 24px;
    margin-right: 24px;
}

.cardSubTitle {
    font-size: 16px;
}

.mentorsOverview {
    margin-top: 0;
}