@import "/styles/variables.scss";
@import "/styles/mixin.scss";

.timelineSection {
  background-color: $green-mist;
}

.plan {
  width: 100%;
  height: 250px;
  background-color: white;
}
  
.button {
  margin-top: 40px;
}