@import "/styles/variables.scss";
@import "/styles/mixin.scss";

.informationSection {
    padding-top: 50px; // 因為桌機版 Timer 往上移動 50px，因此這個 section 的 padding-top 要減少 50px (100 => 50)
    
    @include mobile {
        padding-top: $padding-height-m;
    }
}

.content {
    display: flex;
    justify-content: space-between;

    @include mobile {
        display: block;
    }
}

.block {
    width: 490px;
    height: 84px;

    &:not(:last-child) {
        margin-bottom: 40px;
    }

    @include mobile {
        width: 100%;
        height: 77px;
        margin-bottom: 40px;
    }
}
