@import "/styles/variables.scss";
@import "/styles/mixin.scss";

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 774px;
  padding-top: 40px;
  text-align: center;
  
  @include mobile {
    width: 100%;
    padding-bottom: 60px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 24px;
  padding: 40px;
  width: 100%;
  background-color: white;
}

.stepName {
  font-weight: 500;
  color: $green-deep;
}

.buttons {
  display: flex;

  & button {
    margin-right: 8px;
  }
}

.image {
  margin-bottom: 24px;
}

.title {
  margin-bottom: 24px;
}

.description {
  margin-bottom: 40px;
}

.loginIcon {
  margin-right: 12px;
}

.link {
  color: $green-tree;
  font-weight: 500;
}