@import "/styles/variables.scss";
@import "/styles/mixin.scss";

.introSection {
  margin-top: 0px;

  @include mobile {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 60px 32px;
  }
}

.intro {
  display: flex;
  justify-content: space-between;

  @include mobile {
    flex-direction: column;
  }
}

.introContent {
  flex: 1;

  @include mobile {
    width: 100%;
  }
}

.dummySpacing {
  width: 120px;

  @include tablet {
    width: 60px;
  }

  @include mobile {
    display: none;
  }
}

.introImageWrapper {
  flex: 1;

  @include mobile {
    width: 100%;
    margin-top: 60px;
  }
}

.introTitle {
  margin: 0;
  margin-bottom: 40px;
  font-size: 32px;
  line-height: 140%;
  font-weight: 500;

  @include mobile {
    font-size: 24px;
    line-height: 150%;
  }
}

.introDescription {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.02em;
  margin: 0px;
  margin-bottom: 90px;
  color: $color-neutral-200;

  @include tablet {
    margin-bottom: 40px;
  }
}

.features {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include mobile {
    flex-wrap: wrap;
    justify-content: center;
  }

  @include mobile {
    margin-top: 40px;
  }
}