@import "/styles/variables.scss";
@import "/styles/mixin.scss";

.goalSection {
    background-color: $green-mist;
}

.secondSection {
    margin-top: 80px;
    @include mobile {
        margin-top: 60px;
    }
}

.title {
    font-weight: 500;
    font-size: 32px;
    line-height: 140%;
    margin-bottom: 24px;

    @include mobile {
        font-size: 24px;
    }
}

.description {
    font-size: 16px;
    line-height: 26px;
    color: #333333;
}

.hint {
    width: 100%;
    border: 1px solid $green-deep;
    background: $color-neutral-900;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    font-size: 16px;
    line-height: 160%;
    padding: 16px 24px;
    margin-bottom: 20px;

  @include mobile {
      margin-bottom: 40px;
  }
}

.imageSection {
    display: block;
    width: 100%;
    @include imageWrapper(52.2);
    overflow: hidden;

    max-width: 527px;
    margin: 80px 0px;
    @include mobile {
        margin: 40px 0px;
    }
}

.block {
    height: 80px;
}
