@import "/styles/mixin.scss";

.title {
    margin-bottom: 16px;
}

.divisionLine {
    height: 0;
    border:1px solid #E9E9E9;
    margin: 40px 0;
}

.img {
    position: relative;
    width: 312px;
    height: 162px;
    margin: 16px 0;

    @include mobile {
        width: 100%;
        height: 145px;
    }
}