@import "/styles/variables.scss";
@import "/styles/mixin.scss";

.carousel {
  position: relative;

  .arrowImageWrapper {
    width: 60px;
    height: 60px;
  }

  .leftArrow {
    position: absolute;
    left: -60px; // icon width(60px)
    height: 100%;
    padding: 0 16px 0 0;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .rightArrow {
    position: absolute;
    right: -60px; // icon width(60px)
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  >div:nth-child(2)>div:nth-child(1),
  >div:nth-child(2)>div:nth-child(1)>div {
    overflow: visible;
  }

  @include tablet {
    padding-bottom: 56px;

    .arrowImageWrapper {
      width: 36px;
      height: 36px;
    }

    .leftArrow {
      width: 36px;
      height: 36px;
      padding: 0;
      bottom: 0px;
      left: initial;
      right: 52px; // arrow(36px) + padding(16px)
    }

    .rightArrow {
      width: 36px;
      height: 36px;
      padding: 0;
      bottom: 0px;
      left: initial;
      right: 0px;
    }
  }
}