@import "/styles/variables.scss";
@import "/styles/mixin.scss";

.content {
    background-color: $color-neutral-900;
    padding: 40px;
}

.link {
    color: $green-tree;
    font-weight: 500;
}

.block {
    margin-bottom: 40px;

    & > .title {
        display: flex;
        align-items: center;

        & > h3 {
            margin-left: 4px;
        }
    }
    
    & > p {
        font-size: 16px;
    }

    & > hr {
        margin: 12px 0;
    }
}
