@import "/styles/variables.scss";

.card {
    width: 100%;

    & .header {
        display: flex;
        align-items: flex-end;
        color: $gray;
        margin-bottom: 16px;

        & > p {
            margin: 0;
        }

        & > .name {
            font-size: 24px;
            margin-right: 24px;
        }
        
        & > .position {
            font-size: 16px;
        }
    }
}

.cardInfo {
    min-height: 224px;
}