@import "/styles/variables.scss";
@import "/styles/mixin.scss";

.header {
  width: 100%;
  height: $height-header-d;
  backdrop-filter: blur(5px);

  @include mobile {
    height: $height-header-m;
  }
}
