@import "/styles/variables.scss";
@import "/styles/mixin.scss";

.header {
  width: 100%;
  height: $height-header-d;
  backdrop-filter: blur(16px);
  background-color: rgba(241, 242, 244, 0.8);

  @include mobile {
    height: $height-header-m;
  }
}
