@import "/styles/variables.scss";
@import "/styles/mixin.scss";

.header {
  width: 100%;
  height: $height-header-d;
  background-color: white;

  @include mobile {
    height: $height-header-m;
  }
}
