.title {
    margin-bottom: 16px;
}

.description {
    margin-bottom: 16px;
}

.uploadBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dashed #D9D9D9;
    border-radius: 4px;
    height: 142px;
    margin-bottom: 8px;
    cursor: pointer;

    &.onDrag {
        background-color: #E9E9E9;
    }
}

.fileName {
    color: #1472E0;
    margin-bottom: 8px;
}

.error {
    color: #F44336;
    margin-top: 8px;
}

.divisionLine {
    height: 0;
    border:1px solid #E9E9E9;
    margin: 40px 0;
}