@import "/styles/mixin.scss";

.title {
    margin-bottom: 16px;
}

.description {
    margin-bottom: 16px;
}

.uploadBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dashed #D9D9D9;
    border-radius: 4px;
    height: 142px;
    margin-bottom: 8px;
    cursor: pointer;

    &.onDrag {
        background-color: #E9E9E9;
    }

    @include mobile {
        display: none;
    }
}

.fileName {
    display: block;
    color: #1472E0;
    margin-bottom: 8px;
}

.or {
    font-size: 16px;
    text-align: center;
    
    @include mobile {
        display: none;
    }
}

.uploadButton {
    width: 282px;
    margin: 0 auto;

    @include mobile {
        width: 100%;
    }
}

.error {
    color: #F44336;
    margin-top: 8px;
}

.divisionLine {
    height: 0;
    border:1px solid #E9E9E9;
    margin: 40px 0;
}