@import "/styles/variables.scss";
@import "/styles/mixin.scss";

$padding-carouselItem-d: 15px;
$padding-carouselItem-l: 15px;
$padding-carouselItem-lt: 20px;
$padding-carouselItem-t: 10px;

.alumniContainer {
    background: linear-gradient(15deg, white 600px, $green-grass 0);

    @include mobile {
        background: none;
    }
}

.topSection {
    padding-bottom: 0;

    @include mobile {
        padding-top: 60px;
    }
}

.bottomSection {
    padding-top: 0;
}

.carouselSection {
    @include contentMaxLimit($padding-carouselItem-d * 2,
        $padding-carouselItem-l * 2,
        $padding-carouselItem-lt * 2,
        $padding-carouselItem-t * 2,
        $padding-carouselItem-t);


    @include mobile {
        padding-top: 0;
        padding-bottom: 0;
    }
}

.cardWrapper {
    padding: 0 $padding-carouselItem-d;
    padding-bottom: 6px;

    @include laptop {
        padding: 0 $padding-carouselItem-l;
        padding-bottom: 6px;
    }

    @include laptop {
        padding: 0 $padding-carouselItem-l;
        padding-bottom: 6px;
    }

    @include large-tablet {
        padding: 0 $padding-carouselItem-lt;
        padding-bottom: 6px;
    }

    @include tablet {
        padding: 0 $padding-carouselItem-t;
        padding-bottom: 6px;
    }
}


.title {
    font-size: 32px;
    line-height: 140%;
    color: $color-neutral-900;
    margin-top: 0;
    margin-bottom: 40px;

    @include mobile {
        color: $color-neutral-200
    }
}

.button {
    margin-top: 40px;
}