@import "/styles/variables.scss";
@import "/styles/mixin.scss";

$height-bannerContainer-d: 600px;
$height-bannerContainer-m: calc(100vh - $height-header-m);
$height-bannerInfo-d: 320px;
$height-bannerInfo-m: 300px;

.bannerContainer {
  margin: 0;
  background-color: $gray;
  background-size: cover;
  height: $height-bannerContainer-d;

  @include mobile {
    height: $height-bannerContainer-m;
  }
}

.bannerContent {
  margin: 0 auto;
  padding: 0;

  @include mobile {
    padding: 40px 32px;
  }
}

.bannerInfo {
  box-sizing: content-box;
  margin: 0 auto;
  padding-top: calc( ($height-bannerContainer-d - $height-bannerInfo-d) / 2 );
  height: $height-bannerInfo-d;
  color: white;

  @include tablet {
    padding-top: calc(($height-bannerContainer-m - $height-bannerInfo-m) / 2);
    height: $height-bannerInfo-m;
  }
}

.subTitle {
  margin-top: 40px;
}

/* only show in desktop or tablet */
.summaryInfo {
  margin-top: calc( ($height-bannerContainer-d - $height-bannerInfo-d) / 4 );
  background-color: $gray-light;
  height: 270px;
  
  @include mobile {
    display: none;
  }
}


