@import "/styles/variables.scss";
@import "/styles/mixin.scss";

$height-bannerContainer-d: 400px;
$height-bannerContainer-m: 460px;
$height-bannerInfo-d: 320px;
$height-bannerInfo-m: 300px;

.bannerContainer {
  position: relative;
  margin: 0;
  height: $height-bannerContainer-d;
  overflow: hidden;

  @include mobile {
    height: $height-bannerContainer-m;
  }
}

.bannerContent {
  position: relative;
  z-index: 10;
  margin: 0 auto;
  padding: 0;
  margin-top: 140px;

  @include mobile {
    margin: 0;
    padding: 0px 32px;
  }
}

.bannerInfo {
  display: flex;
  justify-content: space-between;

  @include mobile {
    flex-direction: column;
    margin-top: 100px;
    justify-content: flex-start;
  }
}

.primaryTitleArea {
  width: 25%;

  @include mobile {
    width: auto;
  }
}

.primaryTitle {
  font-weight: 500;
  margin: 0;
  font-size: 48px;
  line-height: 140%;
  color: $color-neutral-800;
  
  @include mobile {
    font-size: 36px;
  }
}

.subTitleArea {
  width: 50%;
  
  @include mobile {
    width: auto;
  }
}

.subTitle {
  margin: 0;
  margin-top: 8px;
  margin-bottom: 24px;
  font-size: 24px;
  line-height: 140%;
  color: $color-neutral-900;
  @include mobile {
    font-size: 18px;
    margin: 16px 0 0 0;
  }
}

.description {
  font-size: 16px;
  line-height: 160%;
  color: $color-neutral-900;
  @include mobile {
    margin-top: 40px;
  }
}

.bannerImageWrapper {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1440px;
  height: 100%;
  z-index: 0;

  @include mobile {
    @include imageWrapper(122%);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.filter {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: $green-deep;
  opacity: 0.8;
}

.desktopOnly {
  @include desktopOnly;
}

.mobileOnly {
  @include mobileOnly;
}