.sectionWrapper {
  width: 80%;
  min-width: 400px;
  margin: 200px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 699px) {
  .sectionWrapper {
    width: 400px;
  }
}

@media screen and (min-width: 1279px) {
  .sectionWrapper {
    width: var(--content-width-desktop);
  }
}
