@import "/styles/variables.scss";
@import "/styles/mixin.scss";

.section {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 147px;
    cursor: pointer;

    @include mobile {
        padding-top: 60px;
        padding-bottom: 60px;
        padding-left: 32px;
    }
}


.next {
    font-size: 24px;
    display: flex;
    align-items: center;

    @include mobile {
        font-size: 18px;
    }
}

.title {
    font-size: 32px;
    padding-top: 16px;

    @include mobile {
        font-size: 24px;
    }
}

.theme-white {
    background-color: $color-neutral-900;
    color: $green-deep;

    &:hover {
        background-color: $green-mist;
    }
}

.theme-green {
    background-color: $green-mist;

    .arrow {
        margin-left: 4px;
    
        &.white {
            display: none;
        }
    
        &.green {
            display: block;
        }
    }

    &:hover {
        color: $color-neutral-900;

        .arrow {
            filter: brightness(100);

            &.white {
                display: block;
            }
        
            &.green {
                display: none;
            }
        }

        background-color: $green-tree;
    }
}