@import "/styles/variables.scss";
@import "/styles/mixin.scss";

.section {
    background-color: $color-neutral-900;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 147px;
    cursor: pointer;
    &:hover {
        background-color: $green-mist;
    }
    @include mobile {
        padding-top: 60px;
        padding-bottom: 60px;
        padding-left: 32px;
    }
}

.next {
    font-size: 24px;
    color: $green-deep;
	display: flex;
    align-items: center; 
    @include mobile {
        font-size: 18px;
    }
}

.title {
    font-size: 32px;
    color: $green-deep;
    padding-top: 16px;
    @include mobile {
        font-size: 24px;
    }
}
