@import "/styles/variables.scss";
@import "/styles/mixin.scss";

.section {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 147px;
    cursor: pointer;

    @include mobile {
        padding-top: 60px;
        padding-bottom: 60px;
        padding-left: 32px;
    }
}


.next {
    font-size: 24px;
    display: flex;
    align-items: center;

    @include mobile {
        font-size: 18px;
    }
}

.title {
    font-size: 32px;
    padding-top: 16px;

    @include mobile {
        font-size: 24px;
    }
}

.arrowWrapper {
    font-size: 0;
    margin-left: 8px;
}

.theme-green {
    background-color: $color-neutral-900;
    color: $green-deep;

    &:hover {
        background-color: $green-mist;
    }
}

.theme-green {
    background-color: $green-mist;

    &:hover {
        color: $color-neutral-900;

        .arrow {
            filter: brightness(100);
        }

        background-color: $green-tree;
    }
}