@import "/styles/variables.scss";

.backgroundWrapper {
    background-color: $green-mist;
}

.applySteps {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 774px;
}

.title {
    color: $green-deep;
    margin-bottom: 24px;
}

.formContainer {
    width: 100%;
    margin-bottom: 24px;
    padding: 40px 60px;
    background-color: $color-neutral-900;
}

.formsCheckSection {
    & .block {
        margin: 16px 0;
        padding: 20px 16px;
        border: 1px solid #E9E9E9;
        border-radius: 8px;
        display: flex;
    
        & > p {
            margin-right: 10px;
        }
    }
    
    & .edit {
        margin-left: auto;
    }
}

.modalControl {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 50px;

    & .button {
        width: 166px;
        height: 46px;
        padding: 10px 20px;
    }
}

.stepManager {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 46px;
    margin-top: 40px;

    & .save {
        margin-right: 24px;
        color: $green-deep;
        cursor: pointer;
    }
    
    & .buttonBack {
        margin-right: 24px;
    }
    
    & .note {
        margin-top: 0;
        margin-bottom: 100px;
    }
    
    & .questionNum {
        font-size: 16px;
        color: $gray-neutral;
        margin-right: auto;
    }
    
    & .next {
        margin-left: 24px;
    }
}