@import "/styles/variables.scss";
@import "/styles/mixin.scss";

.backgroundWrapper {
    background-color: $green-mist;
}

.applySteps {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    margin-left: auto;
    margin-right: auto;
    
    @include laptop {
        width: 774px;
    }
    
    @include mobile {
        width: 100%;
        padding: 24px;
    }
}

.title {
    color: $green-deep;
    margin-bottom: 24px;
}

.loadingPage {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid $green-deep;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 

.formContainer {
    width: 100%;
    margin-bottom: 24px;
    padding: 40px 60px;
    background-color: $color-neutral-900;

    @include mobile {
        padding: 24px;
    }
}

.formsCheckSection {
    & .block {
        margin: 16px 0;
        padding: 20px 16px;
        border: 1px solid #E9E9E9;
        border-radius: 8px;
        display: flex;
    
        & > p {
            margin-right: 10px;
        }
    }
    
    & .edit {
        margin-left: auto;
    }

    & .buttonConfirm {
        width: 282px;
        margin: 0 auto;

        @include mobile {
            width: 100%;
        }
    }
}

.modalControl {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 50px;

    & .button {
        width: 166px;
        height: 46px;
        padding: 10px 20px;

        @include mobile {
            width: 127.5px;
        }
    }
}

.stepManager {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 46px;
    margin-top: 40px;

    & .save {
        margin-right: 24px;
        color: $green-deep;
        cursor: pointer;

        @include mobile {
            margin-right: 0;
        }
    }
    
    & .buttonBack {
        margin-right: 24px;

        @include mobile {
            width: 100%;
            margin: 16px 0 16px 0;
        }
    }

    & .buttonNext {
        @include mobile {
            width: 100%;
        }
    }
    
    & .note {
        margin-top: 0;
        margin-bottom: 100px;
    }
    
    & .questionNum {
        font-size: 16px;
        color: $gray-neutral;
        margin-right: auto;

        @include mobile {
            margin: 0;
        }
    }

    @include mobile {
        flex-direction: column;
        height: auto;
    }
}

.link {
    color: $green-tree;
    font-weight: 500;
}