@import "/styles/variables.scss";
@import "/styles/mixin.scss";

/* only show this in mobile */
@include mobile {
  .summaryInfo > div {
    width: 100%;
    height: 660px;
    background-color: $gray-light;
  }
}

.introWrapper {
  margin-top: 240px;

  @include mobile {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

.intro > p {
  font-size: $font-text-d;
  margin: 0px;
  letter-spacing: 0.02em;

  @include mobile {
    font-size: $font-text-m;
  }
}

.features {
  margin-top: 100px;
  
  @include mobile {
    margin-top: 40px;
  }
}

.feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  max-width: 20%;
  aspect-ratio: 1 / 1;
  background-color: $gray-light;

  @include mobile {
    margin: 16px 0;
    max-width: unset;
    width: 100%;
  }
}

.featureDetail {
  margin-top: 24px;

  p {
    font-size: $font-smallText-d;
    margin: 0px;
    letter-spacing: 0.02em;
  }
}

.flexSection {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include mobile {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.card {
  max-width: 30%;

  @include tablet{
    max-width: 45%;
  }

  @include mobile{
    max-width: unset;
  }
}

.card:last-child {
  @include tablet {
    display: none;
  }
}

.card:nth-child(2) {
  @include mobile {
    display: none;
  }
}

.plan {
  width: 100%;
  height: 470px;
  background-color: $gray-light;
}

/* common */
.button {
  margin-top: 40px;
}