@import "/styles/variables.scss";
@import "/styles/mixin.scss";

// Tab
.tab {
    display: inline-block;
    font-size: 16px;
    padding: 0;
    padding-bottom: 16px;
    margin-right: 24px;
    box-sizing: content-box;
    flex: 1 0;
    cursor: pointer;

    @include mobile {
        font-size: 14px;
        padding-bottom: 14px;
        margin-right: 16px;
    }
}

.tab-active {
    color: $green-deep;
    border-bottom: 2px solid $green-deep;
}

// TabNav

.dummy {}

.nav {
    background-color: $green-mist;
}

.navContent {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    @include contentMaxLimit(0px, 0px, 0px, 0px, 0px);
    padding-top: 14px !important;
    padding-bottom: 0px !important;

    -ms-overflow-style: none;
    /* for Internet Explorer, Edge */
    scrollbar-width: none;

    /* for Firefox */
    &::-webkit-scrollbar {
        display: none;
        /* for Chrome, Safari, and Opera */
    }
}

.sticky {
    position: sticky;
    top: $height-header-d;
    z-index: 1000;

    @include mobile {
        top: $height-header-m;
    }
}

// Handle by Observer
.stuck {
    backdrop-filter: blur(16px);
    background-color: rgba(241, 242, 244, 0.8);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.08);
}