@import "/styles/variables.scss";
@import "/styles/mixin.scss";

.tab {
    display: inline-block;
    font-size: 24px;
    padding: 0;
    padding-bottom: 16px;
    margin-right: 24px;
    box-sizing: border-box;
    flex: 1 0;
    cursor: pointer;

    @include mobile {
        font-size: 16px;
        padding-bottom: 14px;
        margin-right: 16px;
    }
}

.tab-active {
    color: $green-deep;
    border-bottom: 2px solid $green-deep;
}

.nav {
    position: sticky;
    top: $height-header-d;
    white-space: nowrap;
    overflow-x: auto;
    @include contentMaxLimit(0px, 0px, 0px, 0px, 0px);
    padding-top: 20px !important;
    padding-bottom: 14px !important;

    @include mobile {
        top: $height-header-m;
    }
}