@import "/styles/variables.scss";
@import "/styles/mixin.scss";

.careerDetailMobile {
    display: none;
    
    @include mobile {
        display: block;
    }
}

.titleSection {
    padding-bottom: 40px;
}

.title {
    margin: 0;
}

.image {
    position: relative;
    margin-bottom: 60px;
    height: 215px;

    & img {
        object-fit: cover;
        object-position: center;
    }
}

.menteeSection, .mentorsSection {
    padding-top: 0;
    padding-bottom: 60px;
}

.careerSwiper {
    height: 640px;
    margin-bottom: 60px;
}
