@import "/styles/variables.scss";
@import "/styles/mixin.scss";

.careerDetailDesktop {
    display: block;
    
    @include mobile {
        display: none;
    }
}

.backgroundWrapper {
    background-color: $green-mist;
}

.menteeSection {
    position: relative;
    height: 1200px;
}

.mainTitle {
    margin-bottom: 40px;
}

@mixin slideEndPoint($opacity, $x) {
    opacity: $opacity;
    transform: translateX($x);
} 

@keyframes slidein {
    100% {
        @include slideEndPoint(1, 0%)
    }  
}

.slidein {
    animation: slidein 1500ms forwards;
}

.image {
    @include slideEndPoint(0, -50%);

    width: 660px;
    height: 440px;

    & > span {
        overflow: initial !important;
    }

    & img {
        object-fit: cover;
        object-position: center;
    }

    @include large-tablet {
        width: 533px;
        height: 353px;
    }

    @include tablet {
        width: 488px;
        height: 323px;
    }
}

.contentWrapper {
    position: relative;
    left: 200px;
    top: -55px;
    z-index: 1;

    @include large-tablet { 
        left: 155px;
        top: -40px;
    }

    @include tablet {
        left: 68px;
        top: -40px;
    }
}

.content {
    @include slideEndPoint(0, 100%);
    position: relative;
    z-index: 1;
    width: 945px;
    height: 460px;
    padding: 40px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    background-color: white;
    overflow: scroll;

    p, ul, ol {
        margin: 0;
        line-height: 30px;
    }

    p.company {
        font-size: 24px;
        margin-right: 24px;
    }
    
    p.job {
        font-size: 14px;
    }
    
    @include large-tablet {
        width: 741px;
        height: 516px;
    }

    @include tablet {
        width: 624px;
        height: 568px;
    }
}

@mixin leaf {
    width: 315px;
    height: 175px;
    border-radius: 139.115px 0px;
    position: absolute;

    @include tablet {
        width: 175px;
        height: 97px;
    }
}

.leaf {
    @include leaf();
    background-color: $green-tree;
    top: -100px;
    right: 280px;
    z-index: 2;

    @include large-tablet {
        top: -100px;
        right: 160px;
    }

    @include tablet {
        top: -54px;
        right: 30px;
    }
}

.emptyLeaf {
    @include leaf();
    border: 3px solid $green-tree;
    top: -200px;
    right: 320px;
    z-index: 1;

    @include large-tablet {
        top: -220px;
        right: 200px;
    }

    @include tablet {
        top: -108px;
        right: 60px;
    }
}

.rotateLeaf {
    @include leaf();
    background-color: $green-deep;
    transform: rotateY(180deg);
    bottom: -70px;
    left: -200px;
    z-index: 0;

    @include large-tablet {
        left: -155px;
    }

    @include tablet {
        left: -68px;
    }
}

.jobInfo {
    display: flex;
    align-items: baseline;
    margin-bottom: 24px;
}

.menteeInfo {
    display: flex;
    margin-bottom: 40px;

    & > p {
        font-size: 16px;
    }

    & > p:first-child {
        margin-right: 4px;
    }
}

.mentorsSection {
    padding-top: 0;
}

.careerSwiper {
    height: 640px;
    margin-bottom: 100px;
}
