@import "/styles/variables.scss";
@import "/styles/mixin.scss";

.container {
    display: flex;
    justify-content: space-between;
    width: 600px;
    height: 98px;
    margin-bottom: 24px;

    @include mobile {
        width: 100%;
    }
}

.step {
    width: 60px;
    height: 100%;
    margin-right: 70px;

    &:last-child {
        margin-right: 0;
    }

    @include mobile {
        width: 48px;
        margin-right: 20px;
    }
}

.title {
    text-align: center;
    margin: 0;

    @include mobile {
        font-size: 12px;
    }
}

.stepIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    width: 60px;
    height: 60px;
    border: 1px solid #E9E9E9;
    border-radius: 50%;
    background-color: $color-neutral-900;
    
    & * {
        cursor: unset;
    }

    @include mobile {
        width: 40px;
        height: 40px;
        margin-right: auto;
        margin-left: auto;
    }
}

.curStep {
    border: 1px solid $green-deep
}