@import "/styles/variables.scss";
@import "/styles/mixin.scss";

.topicSection {
    margin-bottom: 80px;

    > h2 {
        margin: 0;
    }

    > p {
        margin: 24px 0px 0px 0px;
    }
}

.eventSection {
    margin-top: 40px;

    > h2 {
            display: flex;
            align-items: center;
    }
}

.circle {
    width: 24px;
    height: 24px;
    margin-right: 16px;
    background-color: $green-deep;
    border-radius: 50%;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-neutral-900;
}
