.banner {
  position: relative;
  top: var(--header-height);
  margin-bottom: 430px;
}

.bannerInfo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  margin-left: 10%;

  color: white;
}

.subTitle {
  margin-top: 40px;
}

.floatingBox {
  position: absolute;
  bottom: -170px;
  left: 50%;
  transform: translateX(-50%);

  width: 80%;
  height: 270px;

  background-color: var(--light-gray);
}

@media screen and (max-width: 699px) {
  .floatingBox {
    position: static;
    transform: none;
  }
}

@media screen and (min-width: 1279px) {
  .bannerInfo {
    margin-left: calc((100vw - var(--content-width-desktop)) / 2);
  }

  .floatingBox {
    width: var(--content-width-desktop);
  }
}

.intro,
.alumni,
.plan,
.questions {
  margin-top: 30px;
}

.button {
  margin-top: 40px;
}

.intro > p {
  font-size: 18px;
  margin: 0px;
  letter-spacing: 0.02em;
}

.intro > button {
  margin-bottom: 100px;
}

.flexSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feature {
  width: 300px;
  max-width: 20%;
  aspect-ratio: 1 / 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--light-gray);
}

.featureDetail {
  margin-top: 24px;
}

.featureDetail > p {
  font-size: 14px;
  margin: 0px;
  letter-spacing: 0.02em;
}

.plan {
  width: 100%;
  height: 470px;
  background-color: var(--light-gray);
}

.questions > div {
  display: flex;
  align-items: center;

  border-bottom: 1px solid var(--light-gray);
  padding: 40px 20px;

  font-size: 18px;
}
