/* color */
$light-black: #4f4f4f;
$gray: #333333;
$light-gray: #e9e9e9;
$dark-gray: #c4c4c4;

/* component size */
$header-height-desktop: 70px;
$header-height-mobile: 50px;
$content-width-desktop: 1080px;
$content-width-large-tablet: 900px;
$content-width-tablet: 700px;
$content-width-mobile: 320px;

/* page padding */
$padding-width-desktop: 120px;
$padding-height-mobile: 32px;
$padding-width-mobile: 32px;

/* font */
$bigTitle-fontSize-desktop: 64px;
$title-fontSize-desktop: 40px;
$subTitle-fontSize-desktop: 24px;
$text-fontSize-desktop: 18px;
$smallText-fontSize-desktop: 14px;

$bigTitle-fontSize-mobile: 48px;
$title-fontSize-mobile: 24px;
$subTitle-fontSize-mobile: 18px;
$text-fontSize-mobile: 14px;
